.send-contact-message {
    width: 472px;
    height: 169px;
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 42px;
    box-sizing: border-box;
    background-color: var(--white-color);
}
.send-contact-message-icon {
    color: var(--primary-color);
    width: 24px;
    height: 24px;
}
.send-contact-message p{
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

.send-contact-message button {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}